<?xml version="1.0"?>
<launch>
    <arg name="paused" default="true"/>

    <!-- Launch Gazebo with underwater world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="$(arg paused)"/>
    </include>

    <group ns="visual_dummy">
        <param name="robot_description" command="$(find xacro)/xacro $(find cpr_planar_description)/urdf/visual_dummy.sdf.xacro"/>
        <node name="spawner_joint" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf -model visual_dummy -param robot_description -x 0 -y 0 -z 0 -R 0 -P 0 -Y 0"/>
    </group>

</launch>
